/* --- 😀 PARTIE MP --- */

/* Collone amis */
/* Selecteur région appel amis */
.quickSelect-3BxO0K { margin-top: 10px;}
/* --- 📜 PARTIE LISTE SERVEURS --- */

/* Boutons utilisateur */
.panels-j1Uci_ > .container-3baos1:not(.vp-audioviz-visualizer) {
    position: fixed;
    background: var(--background-tertiary) !important;
    z-index: 5;
    bottom: 0px; left: 0px;
    padding: 45px 15px 45px;
    margin-bottom: 0;
}

.scroller-2TZvBN { margin-bottom: 140px;}

.flex-1xMQg5 > .button-14-BFJ { color: #096dc0; margin: 5px; }
.container-3baos1 > .flex-1xMQg5:not(.spotify-buttons) { display: flex; flex-direction: column;}

[aria-label="Hide Game Activity"], [aria-label="Show Game Activity"] {
    position: fixed;
    bottom: 136px; left: 15px;
    z-index: 5;
}

[aria-label="Hide Game Activity"]::after, [aria-label="Show Game Activity"]::after {
    position: fixed;
    content: "";
    bottom: 141px; left: 0px;
    padding: 42px 72px 0 0;
    z-index: -1;
}

/* Supprime le nom de l'utilsateur */
.canCopy-2VBT7N { display: none; } 

/* Notification de mention */
.unreadMentionsIndicatorBottom-BXS58x { position: fixed; z-index: 6; bottom: 110px; left: 0px; }


/* --- ✏️ PARTIE SALONS --- */

/* Flèche catégeories */
.mainContent-2h-GEV > .arrow-gKvcEx { display: none; }

/* --- 💬 PARTIE TCHAT --- */

/* Barre du salon */

/* Barre de tchat */
.channelTextArea-rNsIhG { width: auto; margin: 11px 0 24px 55px;}

/* Barre de news */
.wrapper-39oAo3 { width: auto; margin: 11px 0 24px 55px;}

/* Bouton 'Suivre' */

/* Revenir aux messages récents */
.jumpToPresentBar-G1R9s6, .jumpToPresentBar-G1R9s6:active { margin-bottom: -10px; margin-left: 55px;}

/* Menu # ou @ */

/* Message d'upload */
/* En train d'écrire */
.typing-2GQL18 { margin-left: 50px; }

/* Avatar */
.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp { 
    position: fixed;
    z-index: 5;
    bottom: 31px;
    left: 325px;
}

.avatarWrapper-2yR4wp > .avatar-SmRMf2.wrapper-3t9DeA { padding: 4px; }
.container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv, .pageWrapper-1PgVDX, .wrapper-2qzCYF { z-index: 6;} /* Cacher l'avatar */

/* Status */
.animatorTop-2Y7x2r > .styleFixed-sX-yHV { width: 45px; background: var(--background-tertiary) !important;}
.footer-2gL1pp { background: var(--background-tertiary) !important;}
.customEmojiPlaceholder-37iZ_j { background-image: url(https://i.ibb.co/hVKW6Xs/e.png);}
.description-2L932D, .status-1fhblQ, .separator-2I32lJ { display: none;}

/* Selecteur d'emotes */
.sprite-2iCowe { filter: grayscale(0) !important;}

/* Bouttons en bleu */
/* Barre de recherche */
.searchLearnMore-3SQUAj, .option-96V44q:after { display: none; }

/* --- 👥 PARTIE MEMBRES --- */

/* Popup d'un membre */
.headerNormal-T_seeN, .headerPlaying-j0WQBV, .headerStreaming-2FjmGz, .headerSpotify-zpWxgT { background: #151b27 !important;}
.activityUserPopout-2yItg2 { border-radius: 5px; margin: 0 8px 15px 8px; padding: 10px;}
.headerPlaying-j0WQBV > .activityUserPopout-2yItg2 { background: #7289DA !important; box-shadow: 0px 4px 0px #46599c;}
.headerSpotify-zpWxgT > .activityUserPopout-2yItg2 { background: #1DB954 !important; box-shadow: 0px 4px 0px #11923e;}
.headerStreaming-2FjmGz > .activityUserPopout-2yItg2 { background: #593695 !important; box-shadow: 0px 4px 0px #47287c;}

.role-2irmRk {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: solid;
    border-width: 0px 0px 0px 3px;
    border-radius: 1px 3px 3px 1px;
}

.roleCircle-3xAZ1j { width: 7px; height: 7px;}

.roleCircle-3xAZ1j::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: inherit;
    opacity: 0.3;
    z-index: -1;
}

/* - Popup agrandie d'un membre - */

/* Status */
.root-SR8cQa > .topSectionSpotify-1lI0-P, .root-SR8cQa > .topSectionPlaying-1J5E4n, .root-SR8cQa > .topSectionStreaming-1Tpf5X { background: var(--background-tertiary) !important;}
.activityProfile-2bJRaP { border-radius: 5px; margin: 0 13px 13px 13px;}
.topSectionPlaying-1J5E4n > .headerFill-adLl4x > .activityProfile-2bJRaP { background: #7289DA !important; box-shadow: 0px 4px 0px #46599c;}
.topSectionSpotify-1lI0-P > .headerFill-adLl4x > .activityProfile-2bJRaP { background: #1DB954 !important;  box-shadow: 0px 4px 0px #11923e;}
.topSectionStreaming-1Tpf5X > .headerFill-adLl4x > .activityProfile-2bJRaP { background: #593695 !important; box-shadow: 0px 4px 0px #47287c;}
.actionButton-3W1xZa { background: var(--background-primary) !important;}

/* Réseaux sociaux */
.connectedAccount-36nQx7 {
    border: solid #151b27;
    border-width: 1.2px 1.2px 3px 1.2px;
    border-radius: 4px;
    padding: 0 20px 0 0;
}

.connectedAccountIcon-3P3V6F { padding: 8px; border-radius: 4px 0 0 4px;}
[alt="Logo Twitter"] { background: #1da0f248; }
[alt="Logo Twitch"] { background: #601bd852; }
[alt="Logo YouTube"] { background: #d9252b49; }
[alt="Logo Battle.net"] { background: #0098e446; }
[alt="Logo Steam"] { background: #ffffff18; }
[alt="Logo Reddit"] { background:#fe44013d; }
[alt="Logo Facebook"] { background: #1da0f248; }
[alt="Logo Spotify"] { background: #1ed75f34; }
[alt="Logo Xbox Live"] { background: #5dc21e42; }
[alt="Logo League of Legends"] { background: #cea14638; }
[alt="Logo GitHub"] { background: #ffffff18; }

.connectedAccountName-f8AEe2 { margin-left: 13px;}

/* --- 👤 PARAMETRE UTILISATEUR --- */

/* Facturation */

/* Abonnements */

/* Voix & Vidéo */

/* Activité de jeux */

/* --- ⚙️ PARAMETRE SERVEUR --- */

/* Emoji */

/* Logs du serveur */
.divider-1pnAR2 { display: none;}

/* Intégrations */
/* Widget */
.colorGrey-2DXtkV { color: #fff !important; }

/* Vue d'ensemble */

/* Ecran d'acceuil */

/* Boost dans parametres */
/* Boost */

/* Bannissements */

/* --- 🌺 AUTRE --- */

/* Message rejoindre serveur */

/* Message de bienvenue */

/* Exporateur de serveurs */
.theme-light .root-1gCeng, .theme-light .footer-2gL1pp { box-shadow: none; }

/* Paramètres de notifications */
/* Suppresion du logo Discord */
.wordmark-2iDDfm > svg, .children-19S4PO:after { display: none; } 

/* Popout "Regarder le stream" */

/* Popout supprimer un message */

/* Infobulles */
